.column {
    box-sizing: content-box;
    width: 240px;
    background: #FDFCFC;
    border-radius: 3px;
    padding: 15px 30px;
}

.columnHead {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
}

.columnHead p {
    font-family: 'Inter, sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 0;
}

.columnHead img {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 18px;
    height: 20px;
}

.columnBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.columnBody div {
    margin-top: 3px;
    margin-bottom: 2px;
}

.addCard {
    margin-top: 10px;
    font-family: 'Inter, sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #858585;
}
