.addCardForm input {
    box-sizing: border-box;
    width: 240px;
    height: 35px;
    border: 1px solid #D6D6D6;
    border-radius: 2px;
    padding-left: 10px;
}

.addCardForm input::placeholder {
    font-family: 'Inter, sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CACACA;
}

.controlsAddCard {
    display: flex;
    gap: 18.5px;
    align-items: center;
    margin-top: 8px;
}

.controlsAddCard button {
    width: 152px;
    height: 37px;
    background: #3E619B;
    border-radius: 3px;
    border: solid 1px #3E619B;
    color: #FFFFFF;
    font-family: 'Inter, sans-serif';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.controlsAddCard img {
    width: 20px;
    height: 20px;
}
